In [1]:
import pandas as pd

file_path = "/mnt/d/Doc_To_Date/20241221/unique_matched_manufacturers_v_final.xlsx"
df = pd.read_excel(file_path)

In [2]:
# Filtering out rows where 'Производитель из МС' is NaN or empty
filtered_df = df[
    (df['Производитель из МС'].isna() | (df['Производитель из МС'] == '')) &
    (df['Название проивзодителя для МС '].notna()) &
    (df['новый кабинет?'] != 'есть кабинет')
]

In [3]:
filtered_df

,Производитель МДЛП,Обработанный тайтл,% матчинга,Производитель из МС,manufacturer_id,Статус,Результат проверки,Производитель МДЛП (очищенный),Group#,Название проивзодителя для МС,новый кабинет?
1,ООО СЫЧУАНЬСКАЯ ЮАНДА ШУЯН ФАРМАЦЕВТИЧЕСКАЯ КО...,сычуаньская юанда шуян фармацевтическая компания,NaN,NaN,NaN,Не удалось найти совпадения,NaN,сычуаньская юанда шуян,NaN,СЫЧУАНЬСКАЯ ЮАНДА ШУЯН ФАРМАЦЕВТИЧЕСКАЯ КОМПАНИЯ,NaN
2,3М ДОЙЧЛАНД ГМБХ,3м дойчланд,NaN,NaN,NaN,Не удалось найти совпадения,NaN,м,NaN,3М ДОЙЧЛАНД,NaN
3,3М ДРАГ ДЕЛИВЕРИ СИСТЕМС,3м драг деливери системс,NaN,NaN,NaN,Не удалось найти совпадения,NaN,м драг деливери системс,NaN,3М ДРАГ ДЕЛИВЕРИ СИСТЕМС,NaN
4,ГЕНВЕОН ИЛАЧ САНАЙИ ВЕ ТИДЖАРЕТ АНОНИМ ШИРКЕТИ,генвеон илач санайи ве тиджарет аноним ширкети,NaN,NaN,NaN,Не удалось найти совпадения,NaN,генвеон аноним ширкети,NaN,ГЕНВЕОН ИЛАЧ САНАЙИ ВЕ ТИДЖАРЕТ,NaN
5,АМВ ГМБХ,амв,NaN,NaN,NaN,Не удалось найти совпадения,NaN,амв,NaN,АMB,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1333,СЯНЬ-ЯНССЕН ФАРМАСЬЮТИКАЛ ЛТД.,сяньянссен фармасьютикал,NaN,NaN,NaN,Не удалось найти совпадения,NaN,сянь янссен,NaN,Янссен,NaN
1334,ЯНССЕН-ОРТО ЛЛС,янссенорто ллс,NaN,NaN,NaN,Не удалось найти совпадения,NaN,янссен орто,17,Янссен,NaN
1335,ЯНССЕН ОРТО ЛЛС,янссен орто ллс,NaN,NaN,NaN,Не удалось найти совпадения,NaN,янссен орто,17,Янссен,NaN
1336,ООО ЯНТАРНОЕ,янтарное,NaN,NaN,NaN,Не удалось найти совпадения,NaN,янтарное,NaN,Янтарное,NaN
1337,ЗАО ЯФФ,яфф,NaN,NaN,NaN,Не удалось найти совпадения,NaN,яфф,NaN,Яфф,NaN

In [4]:
# Select only the necessary columns for further analysis (note the corrected column name with the space)
filtered_columns_df = filtered_df[
    [
        'Производитель МДЛП',
        'Производитель из МС',
        'manufacturer_id',
        'Group#',
        'Название проивзодителя для МС ',
        'новый кабинет?'
    ]
]

# Displaying the first few rows to confirm the selection
filtered_columns_df.head()

,Производитель МДЛП,Производитель из МС,manufacturer_id,Group#,Название проивзодителя для МС,новый кабинет?
1,ООО СЫЧУАНЬСКАЯ ЮАНДА ШУЯН ФАРМАЦЕВТИЧЕСКАЯ КО...,NaN,NaN,NaN,СЫЧУАНЬСКАЯ ЮАНДА ШУЯН ФАРМАЦЕВТИЧЕСКАЯ КОМПАНИЯ,NaN
2,3М ДОЙЧЛАНД ГМБХ,NaN,NaN,NaN,3М ДОЙЧЛАНД,NaN
3,3М ДРАГ ДЕЛИВЕРИ СИСТЕМС,NaN,NaN,NaN,3М ДРАГ ДЕЛИВЕРИ СИСТЕМС,NaN
4,ГЕНВЕОН ИЛАЧ САНАЙИ ВЕ ТИДЖАРЕТ АНОНИМ ШИРКЕТИ,NaN,NaN,NaN,ГЕНВЕОН ИЛАЧ САНАЙИ ВЕ ТИДЖАРЕТ,NaN
5,АМВ ГМБХ,NaN,NaN,NaN,АMB,NaN

In [5]:
filtered_columns_df

,Производитель МДЛП,Производитель из МС,manufacturer_id,Group#,Название проивзодителя для МС,новый кабинет?
1,ООО СЫЧУАНЬСКАЯ ЮАНДА ШУЯН ФАРМАЦЕВТИЧЕСКАЯ КО...,NaN,NaN,NaN,СЫЧУАНЬСКАЯ ЮАНДА ШУЯН ФАРМАЦЕВТИЧЕСКАЯ КОМПАНИЯ,NaN
2,3М ДОЙЧЛАНД ГМБХ,NaN,NaN,NaN,3М ДОЙЧЛАНД,NaN
3,3М ДРАГ ДЕЛИВЕРИ СИСТЕМС,NaN,NaN,NaN,3М ДРАГ ДЕЛИВЕРИ СИСТЕМС,NaN
4,ГЕНВЕОН ИЛАЧ САНАЙИ ВЕ ТИДЖАРЕТ АНОНИМ ШИРКЕТИ,NaN,NaN,NaN,ГЕНВЕОН ИЛАЧ САНАЙИ ВЕ ТИДЖАРЕТ,NaN
5,АМВ ГМБХ,NaN,NaN,NaN,АMB,NaN
...,...,...,...,...,...,...
1333,СЯНЬ-ЯНССЕН ФАРМАСЬЮТИКАЛ ЛТД.,NaN,NaN,NaN,Янссен,NaN
1334,ЯНССЕН-ОРТО ЛЛС,NaN,NaN,17,Янссен,NaN
1335,ЯНССЕН ОРТО ЛЛС,NaN,NaN,17,Янссен,NaN
1336,ООО ЯНТАРНОЕ,NaN,NaN,NaN,Янтарное,NaN
1337,ЗАО ЯФФ,NaN,NaN,NaN,Яфф,NaN

In [6]:
grouped_df = filtered_columns_df.groupby('Название проивзодителя для МС ').first().reset_index()

In [7]:
grouped_df

,Название проивзодителя для МС,Производитель МДЛП,Производитель из МС,manufacturer_id,Group#,новый кабинет?
0,3М ДОЙЧЛАНД,3М ДОЙЧЛАНД ГМБХ,None,None,None,None
1,3М ДРАГ ДЕЛИВЕРИ СИСТЕМС,3М ДРАГ ДЕЛИВЕРИ СИСТЕМС,None,None,None,None
2,АMB,АМВ ГМБХ,None,None,None,None
3,АБДИ ИБРАХИМ,АБДИ ИБРАХИМ ИЛЯЧ САНАЙИ ВЕ ТИДЖ А.Ш.,None,None,None,None
4,АВЗ,ООО АВЗ С-П,None,None,None,None
...,...,...,...,...,...,...
699,Юниверсал,ЮНИВЕРСАЛ ФАРМА С.Л.,None,None,None,None
700,Юнитер,ЮНИТЕР ИНДАСТРИС,None,None,None,None
701,Янссен,ЯНССЕН-СИЛАГ С.П.А.,None,None,82,None
702,Янтарное,ООО ЯНТАРНОЕ,None,None,None,None
703,Яфф,ЗАО ЯФФ,None,None,None,None

In [17]:
import pandas as pd
import psycopg2
import uuid
from datetime import datetime

# Connect to the database
def connect_to_database():
    conn = psycopg2.connect(
        dbname='pharmhub',
        user='ivan.anisimov',
        password='oA7W5uz2GzEd',
        host='10.0.0.170'
    )
    return conn

# Prepare the insertion query
def insert_into_clients(conn, record):
    query = """
    INSERT INTO "Clients" (
        id, title, type, country, points, status, "dateCreated"
    ) VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    with conn.cursor() as cursor:
        cursor.execute(query, record)

# Prepare the data from grouped_df
conn = connect_to_database()
if conn:
    print("Успешно подключено к базе данных")

Успешно подключено к базе данных

In [18]:
# Prepare the data from grouped_df and print the first few records for verification
def prepare_insert_statements(df, num_examples=20):
    insert_statements = []
    for _, row in df.iterrows():
        new_uuid = str(uuid.uuid4())  # Generate new UUID
        title = row['Название проивзодителя для МС ']  # Manufacturer name from MS
        type_ = 'manufacturer'  # Set type as manufacturer
        country = 'Россия'  # Assuming RU if no other info is available
        points = 0.0  # Default points value
        status = 'active'  # Default status
        deleted = False
        date_created = datetime.now()  # Current timestamp

        # Create the SQL insert statement as a string for printing
        insert_statement = f"""
        INSERT INTO "Clients" (
            id, title, type, country, points, status, deleted, "dateCreated"
        ) VALUES (
            '{new_uuid}', '{title}', '{type_}', '{country}', {points}, '{status}', '{deleted}', '{date_created}'
        );
        """
        insert_statements.append(insert_statement)

        # Print the first few examples only
        if len(insert_statements) <= num_examples:
            print(insert_statement)

    return insert_statements

# Main flow
conn = connect_to_database()
if conn:
    print("Успешно подключено к базе данных")
    
    # Prepare and print example insert statements
    prepared_statements = prepare_insert_statements(grouped_df, num_examples=5)

    # If everything looks good, you can uncomment below lines to execute the inserts
    cursor = conn.cursor()
    try:
        for statement in prepared_statements:
            cursor.execute(statement)
        conn.commit()
        print("Все данные успешно вставлены.")
    except Exception as e:
        print(f"Ошибка при вставке данных: {e}")
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
        print("Соединение закрыто.")
else:
    print("Ошибка подключения")

Успешно подключено к базе данных

        INSERT INTO "Clients" (
            id, title, type, country, points, status, deleted, "dateCreated"
        ) VALUES (
            '40c2238c-31f0-4054-a022-4f3acde9b259', '3М ДОЙЧЛАНД ', 'manufacturer', 'Россия', 0.0, 'active', 'False', '2024-10-22 14:19:44.369471'
        );


        INSERT INTO "Clients" (
            id, title, type, country, points, status, deleted, "dateCreated"
        ) VALUES (
            'ce50b20d-6617-45c8-aec0-57c70271707f', '3М ДРАГ ДЕЛИВЕРИ СИСТЕМС', 'manufacturer', 'Россия', 0.0, 'active', 'False', '2024-10-22 14:19:44.369594'
        );


        INSERT INTO "Clients" (
            id, title, type, country, points, status, deleted, "dateCreated"
        ) VALUES (
            'c0975072-91ff-40a3-a88f-7b9abaed1eda', 'АMB', 'manufacturer', 'Россия', 0.0, 'active', 'False', '2024-10-22 14:19:44.369694'
        );


        INSERT INTO "Clients" (
            id, title, type, country, points, status, deleted, "dateCreated"
        ) VALUES (
            'b9050ffd-526f-4bc3-9a4b-b01e6e2b201a', 'АБДИ ИБРАХИМ ', 'manufacturer', 'Россия', 0.0, 'active', 'False', '2024-10-22 14:19:44.369789'
        );


        INSERT INTO "Clients" (
            id, title, type, country, points, status, deleted, "dateCreated"
        ) VALUES (
            '64165850-c428-48b1-bfc6-d44b91e9e352', 'АВЗ', 'manufacturer', 'Россия', 0.0, 'active', 'False', '2024-10-22 14:19:44.369883'
        );

Все данные успешно вставлены.
Соединение закрыто.